<head>
<style type="text/css">
	.login_home {
		margin-left: 25%;
		margin-right:25%;
		width: 50%;
		margin-top: 25%;
		margin-bottom: 25%;
	}
</style>
</head>
<body bgcolor="#E6E6E6">

<form  class="login_home" action="./home/usuário.php" method="POST">
<input type="text" name="user_rooda" placeholder="Usuário" id=user><br>
<input type="password" placeholder="Senha"><br>
<input type="radio" name="gender" value="vínculo" checked> Usuário com vínculo
<input type="radio" name="gender" value="sem_vínculo"> Usuário sem vínculo <br>
<input type="submit" value="Submit" value="send">
</form>

</body>